html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: dimgray;
  color: black;
}
    body footer{
        margin-top: 400px;
    }
    body footer div{
        color: white;
    }

    body header {
        background-color: darkred;
        text-emphasis-color: black;
        --bs-white-rgb: darkred;
        color: azure;
    }