html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
    margin-bottom: 1em;
    background-color: dimgray;
    color: black;
}

footer {
    margin-top: 1em;
    position: fixed;
    bottom: 0;
}
body footer div {
    color: white;
}
header {
    background-color: darkred;
    text-emphasis-color: black;
    --bs-white-rgb: darkred;
}
.w-100 {
    background: darkred;
    border-color: darkred;
}
