@using SportsBettingSystem.Web.ViewModels.Account;
@model AccountViewModel

<div >
 <p class="title">Name: @Model.Name</p>
 <p>Email: @Model.Email</p>
	<p>Joined: @Model.CreatedOn.Year/@Model.CreatedOn.Month/@Model.CreatedOn.Day</p>
 <p class="title">Wallet ballance: @Model.WalletBalance</p> 
</div>
