@model TeamFormModel;
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">
			<div class="form-group">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" placeholder="example: FC Barcelona">
				<span asp-validation-for="Name" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LeagueId"></label>
				<select asp-for="LeagueId" class="form-control">
					@foreach (var league in Model.Leagues!)
					{
						<option value="@league.Id">@league.Name</option>
					}
				</select>
				<span asp-validation-for="LeagueId" class="small text-danger"></span>
			</div>
			<div class="text-center">
				<input class="btn btn-primary mt-3" type="submit" value="Create" />
			</div>
		</form>
	</div>
</div>