@{
	ViewData["Title"] = "Home Page";
}
<div class="mt-4 p-5 bg-light text-center" style="background:dimgray">
	<h2 class="display-4">Hello, Admin!</h2>
	<p class="lead mb-1 mt-3">
		This is your administrator area - you can <b>Create</b> Leagues,Teams and Games.
		<br />You can <b>edit(finish)</b> games, too!
	</p>
	
</div>
