@{
    ViewData["Title"] = "Home Page";
}
@{
    string year = "";
    if (DateTime.UtcNow.Year > 2023) year = "- " + DateTime.UtcNow.Year.ToString();
}

<div class="text-center">
    <h1 class="display-4">Welcome to SoftBet</h1>
    <p>The best site for football bets!</p>
</div>

